# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Prueba/nbproject/private/
/Ejercicio23/nbproject/private/
/Ejercicio23/build/
/Ejercicio24/nbproject/private/
/Ejercicio24/build/
/Ejercicio25/nbproject/private/
/Ejercicio25/build/
/Ejercicio27/nbproject/private/
/Ejercicio27/build/
/pruebaclase/nbproject/private/
/Tema3/ejercicio1/nbproject/private/
/Tema3/ejercicio6/nbproject/private/
/Tema3/ejercicio1/build/
/Tema3/ejercicio6/build/
/Tema3/Ejercicio8/nbproject/private/
/Tema3/Ejercicio8/build/
/Tema3/ejercicio11/nbproject/private/
/Tema3/ejercicio11/build/
/Tema3/ejercicio12/nbproject/private/
/Tema3/ejercicio12/build/
/Tema3/ejercicio13/nbproject/private/
/Tema3/ejercicio13/build/
/Tema3/ejercicio9/build/
/Tema3/ejercicio27/nbproject/private/
/Tema3/ejercicio27/build/
/Tema3/ejercicio16/target/
/Tema4/MetodosEstáticos/nbproject/private/
/Tema4/MetodosEstáticos/build/
/Tema4/Calculadora/nbproject/private/
/ejercicio26/nbproject/private/
/ejercicio32/nbproject/private/
/Tema3/ejercicio9/nbproject/private/
/Tema4/ejercicio1/nbproject/private/
/Tema4/ejercicio1/build/
/Tema4/ejercicio2/nbproject/private/
/Tema4/ejercicio2/build/
/Tema4/ejercicio4/nbproject/private/
/Tema4/ejercicio4/build/
/Tema4/ejercicio5notaalumno/nbproject/private/
/Tema4/ejercicio5notaalumno/build/
/Tema4/ejercicio6notaalumno/nbproject/private/
/Tema4/ApuntesString/nbproject/private/
/Tema4/ApuntesString/build/
/Tema4/Ejercicio20examencultura/nbproject/private/
/Tema4/Ejercicio20examencultura/build/
/Tema4/ejercicio26esprimo/nbproject/private/
/Tema4/ejercicio26esprimo/build/
/Tema4/ejercicio23/nbproject/private/
/Tema4/ejercicio23/build/
/Tema4/ejercicio25/nbproject/private/
/Tema4/ejercicio27/nbproject/private/
/Tema4/ejercicio27/build/
/Tema4/ejercicio7mayormenor/nbproject/private/
/Tema4/ejercicio7mayormenor/build/
/Tema4/ejercicio14multiplos3/nbproject/private/
/Tema4/ejercicio14multiplos3/build/
/Tema4/utilidades/nbproject/private/
/Tema4/utilidades/build/
/Tema5/ProgramacionOrientadaAObjetos/nbproject/private/
/Tema5/ProgramacionOrientadaAObjetos/build/
/Tema5/ejercicio1/nbproject/private/
/Tema5/colaCorreos/nbproject/private/
/Tema5/colaCorreos/build/
/Examen/Examen1/nbproject/private/
/Examen/Examen1/build/
/Tema5/herencia/nbproject/private/
/Tema5/herencia/build/
/Tema5/ejercicio23Herencias/nbproject/private/
/Tema5/ejercicio23Herencias/build/
/Tema5/ejercicio15Direccion/nbproject/private/
/Tema5/ejercicio16calificacion/nbproject/private/
/Tema5/ejercicio15Direccion/build/
/Tema5/ejercicio16calificacion/build/
/Tema5/ejercicio17examen/nbproject/private/
/Tema5/ejercicio19CalculoSueldo/nbproject/private/
/Tema5/ejercicio25ordenadores/nbproject/private/
/Tema6/Animales/nbproject/private/
/Tema6/Animales/build/
/Tema6/testcalculadora/nbproject/private/
/Tema6/sumaCalculadora/nbproject/private/
/Tema6/TesteTelevision/nbproject/private/
/Tema6/ejercicio1Calculadora/nbproject/private/
/Tema6/ejercicio1Calculadora/build/
/Tema6/ejercicio2SaludoPersona/nbproject/private/
/Tema6/ejercicio2SaludoPersona/build/
/Tema6/ejercicio3FiguraGeometrica/nbproject/private/
/Tema6/ejercicio3FiguraGeometrica/build/
/Tema6/ejercicio5Mamiferos/nbproject/private/
/Tema6/ejercicio5Mamiferos/build/
/Tema6/ejercicio6CadenasLibro/nbproject/private/
/Tema6/ejercicio6CadenasLibro/build/
/Tema6/ejercicio8Vehiculos/nbproject/private/
/Tema6/examenT6/nbproject/private/
/Tema6/examenT6/build/
/Tema6/consolidacionEjercicio10/nbproject/private/
/Tema6/consolidacionEjercicio10/build/
/Tema7/ejercicio8ArraysNumeros/nbproject/private/
/Tema7/ejercicio8ArraysNumeros/build/
/Tema7/ejercicio9ArraysNumeroAlReves/nbproject/private/
/Tema7/ejercicio9ArraysNumeroAlReves/build/
/Tema7/ejercicio15MenuMesesArrays/nbproject/private/
/Tema7/ejercicio15MenuMesesArrays/build/
/Tema7/ejercicio14Temperaturas/nbproject/private/
/Tema7/ejercicio14Temperaturas/build/
/Tema7/ejercicio19VectorNumerosAleatorios/nbproject/private/
/Tema7/ejercicio19VectorNumerosAleatorios/build/
/Tema8/ejercicio1Tema8NotasArrays/nbproject/private/
/Tema8/ejercicio1Tema8NotasArrays/build/
/Tema8/ejercicio11Tema8/nbproject/private/
